<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Loan Department">
<listeners>
<listener class-name="Listeners"/>
</listeners>

<parameter name="URL" value="www.qaclickacademy.com"/>
	<test name="Personal Loan">
	<parameter name="URL" value="www.Personalloan.com"/>
	
		<classes>
			<class name="day1">
				<methods>
					<include name="Demo" />
				</methods>
			</class>
			<class name="day2" />
			<class name="day4" />
		</classes>
	</test>


	<test name="Car Loan">
<parameter name="URL" value="www.carloan.com"/>
<parameter name="APIKey/usrname" value="123456"/>
		<classes>

			<class name="day3">
				<!--<methods>-->
					<!--<include name="MobileLogincarLoan" />-->
					 <!-- <exclude name="Mobile.*"/> -->
				<!--</methods>-->

			</class>

		</classes>


	</test>

</suite>